<div class="check-in-view">
      <div class="header-inner">
          <a class="go-back stay glyphicon">Cancel</a>
          <a class="go-back stay glyphicon pull-right" id="check-in-done">Done</a>
      </div>

      <div class="mood-request-group">
         <h4>How do you feel now? </h4>
      </div>
      <div class="moodchooser-group">
        <div class="mood-list-swiper so-so" id="moodchooser" attr="2">
          <div class="mood-list-identifier"><p>So-So</p></div>
        </div>
      </div>
      <div class="input-group" id="comment-check-in-group" style="width: 100%;">
          <input type="text" class="form-control" id="comment-check-in" placeholder="Comment here!" value="{{comment}}">
          {{!-- <span class="input-group-btn">
            <button class="btn btn-default Go-button" type="button">Done</button>
          </span> --}}

          <input type='hidden' name='user' id="user-check-in" value='{{user}}'>
          {{!-- <textarea style="width: 100%" rows="3" id="TITLE" placeholder="Comment here!"  value="{{comment}}"></textarea> --}}
      </div>

</div>

