  <div class="check-in-view">
    <div class="header-inner">
        <a class="go-back stay glyphicon">Cancel</a>
    </div>


        <div class="welcome col-centered">
           <h5> Welcome to smilendar =) </br>Please log in with your name.</h5>
        </div>
        <form method="get" action="login" class="navbar-form" role="form">
            <div class="form-group">
                <input type="text" class="form-control login-name" name="username" placeholder="Your Name">
                <input type="submit" class="form-control btn login-submit" value="Login">
            </div>
        </form>


  </div>