<div class="check-in-button-group">
  <div class='col-xs-12 form-group add-event-button'>
    {{!-- Add event button --}}
{{!--     <form method='get' action='/addEvent/{{dayId}}' role='form' id='addeventget'>
          <input type='submit' class='btn btn-primary btn-block' value='Add Event'>
      </form> --}}
      <div class='btn-check-in col-centered' role='form' id='check-in'>
          Check In
    </div>
  </div>

  <div class='form-group add-event-button'>
    <form method='get' action='#' role='form'>
      <input type='hidden' name='addEventPostSucess' value='{{addEventPostSucess}}' id="addEventPostSucess">
      </form>
  </div>
</div>