<div class="navbar-header">
  <a class="go-back" href="{{goback.link}}">{{goback.display}}</a>
  <a class="menu-button" href="#">Menu</a>
</div>
<div class="menu-drop-down">
  <ul class="drop-down-list">
    <li class=""><a href="/addEvent">Add Event</a></li>
    <li>
      {{#if user}}
          <a href='/logout'>Logout</a>
      {{else}}
          <a href="/"> Login </a>
      {{/if}}
    </li>
  </ul>
</div>

