<div class="navbar-header">
  <a class="go-back" href="{{goback.link}}">{{goback.display}}</a>
  <a class="menu-button" href="#">Menu</a>
</div>
<div class="menu-drop-down">
  <ul class="drop-down-list">
    {{#if user}}
    <li class="go-to-today"><a href="/today">Today</a></li>
    <li class=""><a href="/addEvent">Add Event</a></li>
    <li>
      <a href='/logout'>Logout</a>
    </li>
    {{else}}
    <li><a href="/"> Login </a></li>
    {{/if}}
  </ul>
</div>

