
<div class="about">
<p>Smilendar helps you better understand your daily life and keep track of things that make you smile.</p>
<p>We at Smilendar are students who keep busy lives and loaded calendars. We believe that, in the midst of busy-ness, tracking mood about important and mundane events alike is an important first step to developing healthy habits and good work-life balance. Have a smiling day :)</p>

</div>