<div class="row">
  <div class="col-xs-12">
    <a href="/" class="text-left"> &lt; Today </a>
  </div>
  <div class="col-xs-12">
    <h2>Calendar Event</h2>
    <p>Information about the event, how it went, etc will be here.</p>
    <textarea>The user will be able to input comments/notes about the day.</textarea>
    <button>Or upload a photo.</button>
  </div>
</div>