<div class="row">
	<div class="col-xs-12">
	    <a href="/month" class="text-left"> &lt; Month </a>
	</div>
</div>
<div class="row">
	<h1 class="text-center">{{title}}</h1>
</div>
<div class="row">
	<h4 class="text-center">Su M Tu <kbd>W</kbd> Th F Sa</h4>
</div>
<div class="row">
	<div class="col-xs-3">
		<h5>2:15 PM</h5>
	</div>
	<div class="col-xs-9">
		<a href="/calendar_event"><h4>Training</h4></a>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-3">
		<h5>3:15 PM</h5>
	</div>
	<div class="col-xs-9">
		<a href="/calendar_event"><h4>Class</h4></a>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-3">
		<h5>4:15 PM</h5>
	</div>
	<div class="col-xs-9">
		<a href="/calendar_event"><h4>Practice</h4></a>
	</div>
</div>