<div class="month-view">
	<div class="month-nav">

	</div>
	<div class="row this-week">
		<div class="cal-row-fluid weekday-name">
				<div class="cal-cell1" id="sun"><small>Sun</small>
				</div>
				<div class="cal-cell1" id="mon"><small>Mon</small>
				</div>
				<div class="cal-cell1" id="tue"><small>Tue</small>
				</div>
				<div class="cal-cell1" id="wed"><small>Wed</small>
				</div>
				<div class="cal-cell1" id="thu"><small>Thu</small>
				</div>
				<div class="cal-cell1" id="fri"><small>Fri</small>
				</div>
				<div class="cal-cell1" id="sat"><small>Sat</small>
				</div>
		</div>

		<div class="month-day">


		</div>
	<div class="legend">
	  <p class="">If there is any event in a day, a little blue bar will show on top of that date</p>
	</div>
	</div>
</div>
