<div class="splash-page">
    <div class="splash-background">
        <div class="intro">
            <div class="swiper-container swiper-content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="inner title">
                            <div class="logo">
                                <img src="../images/splash_2.png">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner tour">
                            <h5>Track your mood along</br> with daily schedules</h5>
                            <div class="tour-image">
                                <img class="movie-pic" src="../images/tour_2.png">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="inner tour">
                            <h5>Document private comments</br>  about your events</h5>
                             <div class="tour-image">
                                <img class="movie-pic" src="../images/tour_3.png">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                       <div class="inner tour">
                            <h5>See how your calendar</br>  and emotions correlate</h5>
                             <div class="tour-image">
                                <img class="movie-pic" src="../images/tour_4.png">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                       <div class="inner tour">
                            <h5>Better understand yourself</br> and start a new healthy habit!</h5>
                             <div class="tour-image">
                                <img class="movie-pic" src="../images/tour_5.jpg">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-floated col-centered">
            <div class="pagination">
            </div>
            <div class="login-row">
{{!--             <div>
                <div class="btn btn-rounded btn-default btn-learn-more">Learn More</div>
            </div> --}}
                <div>
                    <div class="btn btn-rounded btn-primary btn-login">Login</div>
                </div>
            </div>
        </div>
{{!--         <div class="login-row"> --}}

    </div>
    <div class="login-view">
        <div class="header-inner">
            <a class="go-back stay glyphicon">Cancel</a>
        </div>

        {{#if catchError}}
            <div> You have not logged in yet </div>
        {{else}}
            <div class="welcome col-centered">
               <h5> Welcome to smilendar =) </br>Please log in with your name.</h5>
            </div>
            <form method="get" action="login" class="navbar-form" role="form">
                <div class="form-group">
                    <input type="text" class="form-control login-name" name="username" placeholder="Your Name">
                    <input type="submit" class="form-control btn login-submit" value="Login">
                </div>
            </form>
            {{!-- <a href={{url}} class="text-left">Login to Google Calendar </a> --}}
        {{/if}}

    </div>
</div>
