@import "calendar.less";


html {
  height: 100%;
  width: 100%;
  overflow: fixed;
}

body {
  padding: 0px;
  // background-color: #f2f2f4;
  height: 100%;
  width: 100%;
  overflow: auto;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

.form-control {
  background-color: #f2f4f3;
  border: 1px solid #eeeeee;
  box-shadow: none;
}

.about {
  p {
    color: #888888;
  }
}

.btn-rounded {
  border-radius: 18px;
}

.btn-default {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  background-image: none;
}

.btn-default:hover {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}


.btn-default:active {
  background-color: #f2f4f3;
  border: 1px solid #aaaaaa;
}

.btn-primary {
  border-color: #00AEEF;
  background-color: #00AEEF;
  background-image: none;
}

.btn-primary:hover {
  border-color: #00AEEF;
  background-color: #00AEEF;
}

.btn-primary:active {
  background-color: #047dbb;
  border-color: #047dbb;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


ul, li, div{
  padding: 0px;
}


.nav-bar-header{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;

  .header-inner {
  padding: 0 15px;
  z-index: 50;
  line-height: 44px;
  height: 44px;
  // margin-bottom: 20px;
  width: 100%;
  background-color: #f2f2f4;
    .menu-today {
      float: right;
      padding-right: 15px;
    }
    .menu-button {
      float: right;
    }
    .menu-addEvent{
      float: right;
      padding-right: 15px;
    }

  }

  .menu-drop-down {
    // margin-top: 44px;
    z-index: 999;
    width: 100%;
    background-color: #f2f2f4;
  }

  .drop-down-list {
    max-height: 0px;
    overflow:hidden;
    list-style: none;
    a {
      text-align: right;
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid #eeeeee;
    }

    -webkit-transition: all 0.3s;

    .active{
      background-color: #dedede;
    }
  }

  .show-menu {
    .drop-down-list {
      max-height: 500px;
    }
  }
}


.weekdaynav {
  position: absolute;
}
.navbar-footer {
  position: fixed;
  bottom: 0px;
  z-index: 50;
  padding: 0 15px;
  line-height: 44px;
  height: 44px;
  margin-top: 20px;
  width: 100%;
  background-color: #f2f2f4;
}

.container-fluid{
  // margin-top: 50px;
  // margin-bottom: 54px;
}

// ------------------------- Month View -----------------------

.month-view {

  .legend {
    text-align: center;
    color:#aaaaaa;
  }

  .this-week {
    margin: 10px 0 34px 0;
  }

  .month-nav {
  }

  .pager {
    margin-top: 0px;
  }

  .this-month {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: 6px -15px;
    font-weight: bold;
    text-align: center;
  }

  .cal-cell1 {
    text-align: center;

    a {
      margin: 0 auto;
      display: block;
      position: relative;
      width: 38px;
      height: 38px;
    }
  }

  .this-week{
    .cal-row-fluid:last-child{
      padding-bottom: 0px;
    }
  }

  .weekday-num {
    padding: 14px 0;
  }

  .smile-face {
    opacity: 0;
    position: absolute;
    margin: 0 auto;
    width: 38px;
    height: 38px;
    line-height: 34px;
    border-radius: 50%;
    background-color: #f2f2f4;
    border: 1px solid #eeeeee;
    text-indent: 0px;
    -webkit-transition: all 0.3s;
  }

  .day-order {
    position: absolute;
    margin:0 auto;
    line-height: 38px;
    width:38px;
    height:38px;
    -webkit-transition: all 0.3s;
  }

  &.show-mood {
    .smile-face {
      opacity: 1;
    }
    .day-order {
      opacity: 0;
    }
  }

}

.cm-switcher {
  margin: 0 auto;

  button {
    width: 145px;
  }
}

.day-event-identifier {
  background-color: #00AEEF;
  position: absolute;
  bottom: 36px;
  left: 14px;
  width: 10px;
  margin: 0 auto;
}


// -------------------------- Day View -----------------------

.day-view {
  .add-event-button {
    padding-top: 20px;
  }

  .this-week {
    margin: 10px 0;
  }

  .cal-cell1 {
    text-align: center;
  }

  .day-order {
    margin: 0 auto;
    width: 34px;
    height: 34px;
    line-height: 34px;
  }

  .active {
    background-color: #121212;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
  }

  .today {
    color: #D20012;

    &.active {
      color: #ffffff;
      background-color: #D20012 !important;
    }

  }

  .event-item {
    border-bottom: 1px solid #eeeeee;
    padding: 5px 0;
  }

  .event-info {
    position: relative;
    border-left: 1px solid #eeeeee;
    box-sizing: border-box;
    padding-right: 55px;
  }

  .event-time{
    padding-right: 0px !important;
    h6 {
      margin: 5px 0;
      font-size: 11px;

    }
  }
  .start-time {
    color: #212121;
  }

  .end-time {
    color: #bbcbcb;
  }

  .event-title {
    margin: 3px 0 7px;
    color: #121212;
    line-height: 1.3;
  }

  .event-brief {
    color: #888888;
    font-size: 12px;
  }

  .empty-state {
    text-align: center;
    color: #aaaaaa;
    p {

    }
  }

}

.smile {
  position: absolute;
  right: 20px;
  top: 0;
  width: 38px;
  height: 38px;

  .dropdown-menu {
    right: 0;
    padding: 5px;
    width: 212px;
    left: auto;
  }

  .text-input {
    height:32px;
    line-height:32px;
    padding: 0 8px;
    border: 1px solid #cccccc;
  }

  .mood-list {

  }

  .mood-status {
    float: left;
    margin: 2px 0 2px 2px;
  }

  .mood-display {
    background-image: url('../images/smiles_s.png');
    background-position: -202px -11px;
  }

}

#excited {
  // background-color: #47ad58;
  background-image: url('../images/smiles_s.png');
  background-position: -2px -11px;
}
#happy {
  // background-color: #FBAF0C;
  background-image: url('../images/smiles_s.png');
  background-position: -42px -11px;
}
#soso {
  // background-color: #FBAF0C;
  background-image: url('../images/smiles_s.png');
  background-position: -82px -11px;
}
#sad {
  // background-color: #4584F0;
  background-image: url('../images/smiles_s.png');
  background-position: -122px -11px;
}

#angry {
  // background-color: #353535;
  background-image: url('../images/smiles_s.png');
  background-position: -162px -11px;
}


.smile-face {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #f2f2f4;
  border: 1px solid #eeeeee;
  text-indent: -9999px;
}

a {
  color: #00B7FF;
}


// -------------------------- Event View -----------------------

.event-view {
  .alarm, .repeat, .note{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;

  }
  .alarm {
    border-right: 1px solid #eeeeee;
  }

  .comment {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;
    textarea {
      border: none;
      background-color: #f2f4f3;
      padding: 0;
      width: 100%;
    }
  }

  .take-photo {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;
  }

  .start-time {
    color: #212121;
  }

  .end-time {
    color: #bbcbcb;
  }

}

// -------------------------- Login Page -----------------------

.login-page {
    position: absolute;
    z-index: 65;
    background-color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  .splash-background {
    position: relative;
    // background-image: url('../images/splash_1.png');
    background-position: 35% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .col-floated {
    z-index: 300;
    bottom: 20px;
    position: absolute;
    width: 100%;
    text-align:center;
    min-height: 100px;
  }

  // .login-row{
  //   // z-index: 300;
  //   bottom: 20px;

  // }

  .btn-login {
    width: 160px;
  }

  .btn-learn-more {
    width: 160px;
    border-radius: 18px;
    margin-bottom: 10px;
  }

  .navbar-form {
    margin: 0;
  }

  .login-name {
    margin: 20px auto;
    padding: 0 18px;
    width: 160px;
    border-radius: 18px;
  }

  .login-submit{
    width: 160px;
    border-radius: 18px;
    border-color: #00AEEF;
    background-color: #00AEEF;
    color: white;
  }

  .intro {
  }

}



// ------------- Swipe event test -------------
.swiper-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.swiper-content .inner {
  padding: 20px;
}

.pagination {

}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-visible-switch {
  background: #888;
}
.swiper-active-switch {
  background: red;
}
