[class*="cal-cell"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}
.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.cal-row-fluid:after {
  clear: both;
}
.cal-row-fluid [class*="cal-cell"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764%;
}
.cal-row-fluid [class*="cal-cell"]:first-child {
  margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-cell"] + [class*="cal-cell"] {
  margin-left: 0%;
}
.cal-row-fluid .cal-cell7 {
  width: 100%;
  *width: 99.94669509594883%;
}
.cal-row-fluid .cal-cell6 {
  width: 85.71428571428571%;
  *width: 85.66098081023453%;
}
.cal-row-fluid .cal-cell5 {
  width: 71.42857142857142%;
  *width: 71.37526652452024%;
}
.cal-row-fluid .cal-cell4 {
  width: 57.14285714285714%;
  *width: 57.089552238805965%;
}
.cal-row-fluid .cal-cell3 {
  width: 42.857142857142854%;
  *width: 42.80383795309168%;
}
.cal-row-fluid .cal-cell2 {
  width: 28.57142857142857%;
  *width: 28.518123667377395%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.232409381663112%;
}
.cal-week-box .cal-offset7,
.cal-row-fluid .cal-offset7,
.cal-row-fluid .cal-offset7:first-child {
  margin-left: 100%;
  *margin-left: 99.89339019189765%;
}
.cal-week-box .cal-offset6,
.cal-row-fluid .cal-offset6,
.cal-row-fluid .cal-offset6:first-child {
  margin-left: 85.71428571428571%;
  *margin-left: 85.60767590618336%;
}
.cal-week-box .cal-offset5,
.cal-row-fluid .cal-offset5,
.cal-row-fluid .cal-offset5:first-child {
  margin-left: 71.42857142857142%;
  *margin-left: 71.32196162046907%;
}
.cal-week-box .cal-offset4,
.cal-row-fluid .cal-offset4,
.cal-row-fluid .cal-offset4:first-child {
  margin-left: 57.14285714285714%;
  *margin-left: 57.03624733475479%;
}
.cal-week-box .cal-offset3,
.cal-row-fluid .cal-offset3,
.cal-row-fluid .cal-offset3:first-child {
  margin-left: 42.857142857142854%;
  *margin-left: 42.750533049040506%;
}
.cal-week-box .cal-offset2,
.cal-row-fluid .cal-offset2,
.cal-row-fluid .cal-offset2:first-child {
  margin-left: 28.57142857142857%;
  *margin-left: 28.46481876332622%;
}
.cal-week-box .cal-offset1,
.cal-row-fluid .cal-offset1,
.cal-row-fluid .cal-offset1:first-child {
  margin-left: 14.285714285714285%;
  *margin-left: 14.17910447761194%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}
[class*="cal-cell"].hide,
.cal-row-fluid [class*="cal-cell"].hide {
  display: none;
}
[class*="cal-cell"].pull-right,
.cal-row-fluid [class*="cal-cell"].pull-right {
  float: right;
}
html {
  height: 100%;
  width: 100%;
  overflow: fixed;
}
body {
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}
.form-control {
  background-color: #f2f4f3;
  border: 1px solid #eeeeee;
  box-shadow: none;
}
.about p {
  color: #888888;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.btn-rounded {
  border-radius: 18px;
}
.btn-default {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  background-image: none;
}
.btn-default:hover {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}
.btn-default:active {
  background-color: #f2f4f3;
  border: 1px solid #aaaaaa;
}
.btn-primary {
  border-color: #00AEEF;
  background-color: #00AEEF;
  background-image: none;
}
.btn-primary:hover {
  border-color: #00AEEF;
  background-color: #00AEEF;
}
.btn-primary:active {
  background-color: #047dbb;
  border-color: #047dbb;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
ul,
li,
div {
  padding: 0px;
}
.nav-bar-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
}
.nav-bar-header .header-inner,
.login-view .header-inner {
  padding: 0 15px;
  z-index: 50;
  line-height: 44px;
  height: 44px;
  width: 100%;
  background-color: #f2f2f4;
}
.nav-bar-header .header-inner .menu-today,
.login-view .header-inner .menu-today {
  float: right;
  padding-right: 15px;
}
.nav-bar-header .header-inner .menu-button,
.login-view .header-inner .menu-button {
  float: right;
}
.nav-bar-header .header-inner .menu-addEvent,
.login-view .header-inner .menu-addEvent {
  float: right;
  padding-right: 15px;
}
.nav-bar-header .menu-drop-down,
.login-view .menu-drop-down {
  z-index: 999;
  width: 100%;
  background-color: #f2f2f4;
}
.nav-bar-header .drop-down-list,
.login-view .drop-down-list {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  -webkit-transition: all 0.3s;
}
.nav-bar-header .drop-down-list a,
.login-view .drop-down-list a {
  text-align: right;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #eeeeee;
}
.nav-bar-header .drop-down-list .active,
.login-view .drop-down-list .active {
  background-color: #dedede;
}
.nav-bar-header .show-menu .drop-down-list,
.login-view .show-menu .drop-down-list {
  max-height: 500px;
}
.weekdaynav {
  position: absolute;
}
.navbar-footer {
  position: fixed;
  bottom: 0px;
  z-index: 50;
  padding: 0 15px;
  line-height: 44px;
  height: 44px;
  margin-top: 20px;
  width: 100%;
  background-color: #f2f2f4;
}
.container-fluid {
  padding-top: 50px;
  height: 100%;
}
.month-view .legend {
  text-align: center;
  color: #aaaaaa;
}
.month-view .this-week {
  margin: 10px 0 34px 0;
}
.month-view .pager {
  margin-top: 0px;
}
.month-view .this-month {
  z-index: -1;
  position: absolute;
  width: 100%;
  margin: 6px -15px;
  font-weight: bold;
  text-align: center;
}
.month-view .cal-cell1 {
  text-align: center;
}
.month-view .cal-cell1 a {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
}
.month-view .this-week .cal-row-fluid:last-child {
  padding-bottom: 0px;
}
.month-view .weekday-num {
  padding: 14px 0;
}
.month-view .smile-face {
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  line-height: 34px;
  border-radius: 50%;
  background-color: #f2f2f4;
  border: 1px solid #eeeeee;
  text-indent: 0px;
  -webkit-transition: all 0.3s;
}
.month-view .day-order {
  position: absolute;
  margin: 0 auto;
  line-height: 38px;
  width: 38px;
  height: 38px;
  -webkit-transition: all 0.3s;
}
.month-view.show-mood .smile-face {
  opacity: 1;
}
.month-view.show-mood .day-order {
  opacity: 0;
}
.cm-switcher {
  margin: 0 auto;
}
.cm-switcher button {
  width: 145px;
}
.day-event-identifier {
  background-color: #00AEEF;
  position: absolute;
  bottom: 36px;
  left: 14px;
  width: 10px;
  margin: 0 auto;
}
.day-view .add-event-button {
  padding-top: 20px;
}
.day-view .this-week {
  margin: 10px 0;
}
.day-view .cal-cell1 {
  text-align: center;
}
.day-view .day-order {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.day-view .active {
  background-color: #121212;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
}
.day-view .today {
  color: #D20012;
}
.day-view .today.active {
  color: #ffffff;
  background-color: #D20012 !important;
}
.day-view .event-item {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
.day-view .event-info {
  position: relative;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-right: 55px;
}
.day-view .event-time {
  padding-right: 0px !important;
}
.day-view .event-time h6 {
  margin: 5px 0;
  font-size: 11px;
}
.day-view .start-time {
  color: #212121;
}
.day-view .end-time {
  color: #bbcbcb;
}
.day-view .event-title {
  margin: 3px 0 7px;
  color: #121212;
  line-height: 1.3;
}
.day-view .event-brief {
  color: #888888;
  font-size: 12px;
}
.day-view .empty-state {
  text-align: center;
  color: #aaaaaa;
}
.day-view .isMoodEvent {
  background-color: #F2F2F2;
}
.smile {
  position: absolute;
  right: 20px;
  top: 0;
  width: 38px;
  height: 38px;
}
.smile .dropdown-menu {
  right: 0;
  padding: 5px;
  width: 212px;
  left: auto;
}
.smile .text-input {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border: 1px solid #cccccc;
}
.smile .mood-status {
  float: left;
  margin: 2px 0 2px 2px;
}
.smile .mood-display {
  background-image: url('../images/smiles_s.png');
  background-position: -202px -11px;
}
#excited {
  background-image: url('../images/smiles_s.png');
  background-position: -2px -11px;
}
#happy {
  background-image: url('../images/smiles_s.png');
  background-position: -42px -11px;
}
#soso {
  background-image: url('../images/smiles_s.png');
  background-position: -82px -11px;
}
#sad {
  background-image: url('../images/smiles_s.png');
  background-position: -122px -11px;
}
#angry {
  background-image: url('../images/smiles_s.png');
  background-position: -162px -11px;
}
.smile-face {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #f2f2f4;
  border: 1px solid #eeeeee;
  text-indent: -9999px;
}
a {
  color: #00B7FF;
}
.event-view .alarm,
.event-view .repeat,
.event-view .note {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .alarm {
  border-right: 1px solid #eeeeee;
}
.event-view .comment {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .comment textarea {
  border: none;
  background-color: #f2f4f3;
  padding: 0;
  width: 100%;
}
.event-view .take-photo {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .start-time {
  color: #212121;
}
.event-view .end-time {
  color: #bbcbcb;
}
.splash-page {
  position: relative;
  z-index: 65;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.splash-page .splash-background {
  position: relative;
  background-image: url('../images/background_image.jpg');
  background-position: 35% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.splash-page .col-floated {
  z-index: 300;
  bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  min-height: 100px;
}
.splash-page .btn-login {
  width: 160px;
}
.splash-page .btn-learn-more {
  width: 160px;
  border-radius: 18px;
  margin-bottom: 10px;
}
.splash-page .navbar-form {
  margin: 0;
}
.splash-page .login-name {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 18px;
  width: 160px;
  border-radius: 18px;
}
.splash-page .login-submit {
  display: block;
  margin: 0 auto;
  width: 160px;
  border-radius: 18px;
  border-color: #00AEEF;
  background-color: #00AEEF;
  color: white;
}
.splash-page .welcome {
  margin-top: 20px;
  text-align: center;
}
.splash-page .welcome h5 {
  line-height: 1.35;
  color: #888888;
}
.splash-page .login-view {
  position: absolute;
  bottom: -100%;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}
.splash-page .login-view-show {
  bottom: 0;
}
.swiper-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.swiper-content .inner {
  padding: 20px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #888;
}
.swiper-active-switch {
  background: #00AEEF;
}
.title {
  height: 100%;
}
.title .logo {
  position: relative;
  height: 90%;
  overflow: hidden;
}
.title .logo img {
  position: absolute;
  top: 50%;
  margin-top: -159px;
  width: 100%;
}
.tour {
  height: 100%;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.tour h5 {
  text-align: center;
  line-height: 1.4;
}
.tour .tour-image {
  max-height: 66%;
  overflow: hidden;
}
.tour img {
  width: 100%;
}
#delete-btn {
  background-color: white;
  color: red;
  border: 1px solid #aaa;
  margin-top: 45px;
}
.btn-comment {
  background-color: white;
  color: #888888;
  border: 1px solid #aaa;
}
.day-view {
  position: relative;
  z-index: 0;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.day-view .check-in-view {
  position: absolute;
  bottom: -100%;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}
.day-view .check-in-view-show {
  bottom: 0;
}
.check-in-view {
  position: absolute;
  bottom: -100%;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.check-in-view-show {
  bottom: 0;
}
.container-fluid {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#nextweek {
  margin-right: -10px;
}
#lastweek {
  margin-left: -10px;
}
#moodchooser {
  min-height: 600px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}
.mood-list-identifier {
  padding-top: 30px;
}
.mood-list-identifier p {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.mood-request-group {
  text-align: center;
  height: 40px;
}
.input-group {
  width: 100%;
  position: absolute;
  z-index: 502;
  bottom: 0px;
}
.so-so {
  background-image: url('../images/so-so.png');
  background-color: #00b9d7;
}
.happy {
  background-image: url('../images/happy.png');
  background-color: #91da11;
}
.excited {
  background-image: url('../images/excited.png');
  background-color: #fddb00;
}
.sad {
  background-image: url('../images/sad.png');
  background-color: #ff38a3;
}
.angry {
  background-image: url('../images/angry.png');
  background-color: #f781f3;
}

.nav-month {
  position: absolute;
  top: 3px;
  margin-top: -5px;
  font-weight: bold;
}
.mood-list {
  margin-bottom: 35px;
}
