[class*="cal-cell"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}
.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.cal-row-fluid:after {
  clear: both;
}
.cal-row-fluid [class*="cal-cell"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764%;
}
.cal-row-fluid [class*="cal-cell"]:first-child {
  margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-cell"] + [class*="cal-cell"] {
  margin-left: 0%;
}
.cal-row-fluid .cal-cell7 {
  width: 100%;
  *width: 99.94669509594883%;
}
.cal-row-fluid .cal-cell6 {
  width: 85.71428571428571%;
  *width: 85.66098081023453%;
}
.cal-row-fluid .cal-cell5 {
  width: 71.42857142857142%;
  *width: 71.37526652452024%;
}
.cal-row-fluid .cal-cell4 {
  width: 57.14285714285714%;
  *width: 57.089552238805965%;
}
.cal-row-fluid .cal-cell3 {
  width: 42.857142857142854%;
  *width: 42.80383795309168%;
}
.cal-row-fluid .cal-cell2 {
  width: 28.57142857142857%;
  *width: 28.518123667377395%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.232409381663112%;
}
.cal-week-box .cal-offset7,
.cal-row-fluid .cal-offset7,
.cal-row-fluid .cal-offset7:first-child {
  margin-left: 100%;
  *margin-left: 99.89339019189765%;
}
.cal-week-box .cal-offset6,
.cal-row-fluid .cal-offset6,
.cal-row-fluid .cal-offset6:first-child {
  margin-left: 85.71428571428571%;
  *margin-left: 85.60767590618336%;
}
.cal-week-box .cal-offset5,
.cal-row-fluid .cal-offset5,
.cal-row-fluid .cal-offset5:first-child {
  margin-left: 71.42857142857142%;
  *margin-left: 71.32196162046907%;
}
.cal-week-box .cal-offset4,
.cal-row-fluid .cal-offset4,
.cal-row-fluid .cal-offset4:first-child {
  margin-left: 57.14285714285714%;
  *margin-left: 57.03624733475479%;
}
.cal-week-box .cal-offset3,
.cal-row-fluid .cal-offset3,
.cal-row-fluid .cal-offset3:first-child {
  margin-left: 42.857142857142854%;
  *margin-left: 42.750533049040506%;
}
.cal-week-box .cal-offset2,
.cal-row-fluid .cal-offset2,
.cal-row-fluid .cal-offset2:first-child {
  margin-left: 28.57142857142857%;
  *margin-left: 28.46481876332622%;
}
.cal-week-box .cal-offset1,
.cal-row-fluid .cal-offset1,
.cal-row-fluid .cal-offset1:first-child {
  margin-left: 14.285714285714285%;
  *margin-left: 14.17910447761194%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}
[class*="cal-cell"].hide,
.cal-row-fluid [class*="cal-cell"].hide {
  display: none;
}
[class*="cal-cell"].pull-right,
.cal-row-fluid [class*="cal-cell"].pull-right {
  float: right;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul,
li,
div {
  padding: 0px;
}
.navbar-header {
  position: fixed;
  top: 0px;
  padding: 0 15px;
  z-index: 999;
  line-height: 44px;
  height: 44px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #f2f2f4;
}
.navbar-header .menu {
  float: right;
}
.weekdaynav {
  position: absolute;
}
.navbar-footer {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  padding: 0 15px;
  line-height: 44px;
  height: 44px;
  margin-top: 20px;
  width: 100%;
  background-color: #f2f2f4;
}
.container-fluid {
  margin-top: 54px;
  margin-bottom: 54px;
}
.month-view .this-week {
  margin: 10px 0;
}
.month-view .pager {
  margin-top: 0px;
}
.month-view .this-month {
  z-index: -1;
  position: absolute;
  width: 100%;
  margin: 6px -15px;
  font-weight: bold;
  text-align: center;
}
.month-view .cal-cell1 {
  text-align: center;
}
.month-view .cal-cell1 a {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
}
.month-view .this-week .cal-row-fluid:last-child {
  padding-bottom: 0px;
}
.month-view .weekday-num {
  padding: 14px 0;
}
.month-view .smile-face {
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  line-height: 34px;
  border-radius: 50%;
  background-color: #f2f2f4;
  border: 1px solid #eeeeee;
  text-indent: 0px;
  transition: all 0.3s;
}
.month-view .day-order {
  position: absolute;
  margin: 0 auto;
  line-height: 36px;
  width: 36px;
  height: 36px;
  transition: all 0.3s;
}
.month-view.show-mood .smile-face {
  opacity: 1;
}
.month-view.show-mood .day-order {
  opacity: 0;
}
.cm-switcher {
  margin: 0 auto;
}
.cm-switcher button {
  width: 145px;
}
.day-view .this-week {
  margin: 10px 0;
}
.day-view .cal-cell1 {
  text-align: center;
}
.day-view .day-order {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.day-view .active {
  background-color: #121212;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
}
.day-view .today {
  color: #D20012;
}
.day-view .today.active {
  color: #ffffff;
  background-color: #D20012 !important;
}
.day-view .event-item {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
.day-view .event-info {
  position: relative;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-right: 55px;
}
.day-view .event-time h6 {
  margin: 5px 0;
  font-size: 12px;
}
.day-view .start-time {
  color: #212121;
}
.day-view .end-time {
  color: #bbcbcb;
}
.day-view .event-title {
  margin: 3px 0 7px;
  color: #121212;
  line-height: 1.3;
}
.day-view .event-brief {
  color: #888888;
  font-size: 12px;
}
.smile {
  position: absolute;
  right: 20px;
  top: 0;
  width: 38px;
  height: 38px;
}
.smile .dropdown-menu {
  right: 0;
  padding: 5px;
  width: 212px;
  left: auto;
}
.smile .text-input {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border: 1px solid #cccccc;
}
.smile .mood-status {
  float: left;
  margin: 2px 0 2px 2px;
}
.smile .mood-display {
  background-image: url('../images/smiles_s.png');
  background-position: -202px -11px;
}
#excited {
  background-color: #47ad58;
  background-image: url('../images/smiles_s.png');
  background-position: -2px -11px;
}
#happy {
  background-color: #FBAF0C;
  background-image: url('../images/smiles_s.png');
  background-position: -42px -11px;
}
#soso {
  background-color: #FBAF0C;
  background-image: url('../images/smiles_s.png');
  background-position: -82px -11px;
}
#sad {
  background-color: #4584F0;
  background-image: url('../images/smiles_s.png');
  background-position: -122px -11px;
}
#angry {
  background-image: url('../images/smiles_s.png');
  background-position: -162px -11px;
}
.smile-face {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #f2f2f4;
  border: 1px solid #eeeeee;
  text-indent: -9999px;
}
a {
  color: #00B7FF;
}
.event-view .alarm,
.event-view .repeat,
.event-view .note {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .alarm {
  border-right: 1px solid #eeeeee;
}
.event-view .comment {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .comment textarea {
  border: none;
  padding: 0;
  width: 100%;
}
.event-view .take-photo {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee;
}
.event-view .start-time {
  color: #212121;
}
.event-view .end-time {
  color: #bbcbcb;
}
