{{#unless eventList}}
<div class="empty-state col-xs-12">
  <h5 class="">Looks like you don't have any events today.</h5>
  <p class="">Tap "Check In" to record how you feel now, then you can start tracking your mood.</p>
  <p>&#8595</p>
</div>
{{/unless}}


{{#each eventList}}
  {{> eventItem}}
{{/each}}